body{
    text-align: center;
    margin: auto;
    padding: 50%;
}

.loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #007bff;
    border-top-color: black;
    animation: spin 1s infinite linear;
  }

  @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }

  
  
  